@tailwind base;
@tailwind components;
body, html, #app {
  height: 100%;
}
@tailwind utilities;

@import 'utilities';
@require './code'

.container-warning
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f6e05e
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

.container-tip
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f6e05e
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

.container-note
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f6e05e
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right