@css {

    p {
        @apply mb-2;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-grey-dark mb-2 mt-8 border-l-8 -ml-8 pl-6 border-teal;
    }

    a {
        @apply text-teal-dark no-underline;
    }

    a:hover {
        @apply text-teal;
    }
}
