{
  "useTabs": false,
  "printWidth": 150,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "noSemi": false,
  "rcVerbose": true,
  "ignoreChainWithDepth": 10,
  "arrowParens": "avoid",
  "semi": true
}
