$pulseRed = #EF425A;
$pulseRedLighter = #FF6292;
$pulseCodeBackground = #282e3f;
$pulseGrey = #7e9ab3;
$pulseFaint = #526577;
$pulseGreen = #00FFB2;
$pulseYellow = #FFD696;
$pulseWhite = #F7F8F8;
$pulseLightBlue = #B6DCFF;

table
    tr, td, th
        border-color: $pulseGrey;
    tr:nth-child(2n)
        background-color: $pulseCodeBackground;

    code 
        line-height: 2em !important;


pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #EF425A;
  border-radius: 0px;
  & > code
    color: #808080;
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #EF425A !important;
      padding: 3px 5px;
      border-radius: 3px;
      font-size: 1.02em;
      color #fff;
      font-weight: bold;
    em
      color #808080;
      font-weight light;
    strong 
      color #fff;


.theme-default-content:not(.custom)
    margin 0
    max-width 820px

@font-face {
  font-family: dank;
  src: url(/DankMono-Regular.ttf);
}

.page-nav, .page-edit
     margin 0 !important    
// body, .sidebar, .navbar, .navbar .links {
//   background-color: #1d1d1d !important;
// }
.search-box input 
  background-color: $codeBgColor !important;

.custom-block.details 
    display: block;
    position: relative;
    border-radius: 3px;
    margin: 0.5em 0;
    padding: 0.6em 1.2em;
    // background-color: #eee;


.theme-default-content
    pre
        background-color $codeBgColor !important
        code 
            color #CDD8E1 !important
            font-family dank
            line-height 1.7rem !important
            font-size 1rem !important
            // font-weight: bold;

.theme-default-content a code
    color $pulseRed

.token.comment
    color $pulseFaint;

.token.prolog,
.token.doctype,
.token.cdata
    color $pulseGrey;

.token.boolean,
.token.string
    color $pulseYellow


.token.constant,
.token.class-name
    color $pulseRedLighter

.token.function
    color $pulseGreen;

.token.keyword,
.token.entity,
.token.url,
.token.attr-value,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.operator,
.token.atrule
    color $pulseGrey;

.token.property
    color $pulseWhite;

.token.tag-id,
.token.selector,
.token.atrule-id
    color #fff3eb

code.language-javascript,
.token.attr-name,

    color #a48774

    // color $pulseYellow


// .token.tag,
// .token.number
//     color #bfa05sa

// .token.placeholder,
// .token.variable
//     color red

// .token.important,
// .token.bold
//     font-weight bold

// .line-numbers
//     .line-numbers-rows
//         border-right-color #35302b

// .line-numbers-rows
//     & > span
//         &:before
//             color #46403d

// .line-highlight
//     background rgba(191, 160, 90, 0.2)
//     background -webkit-linear-gradient(left, rgba(191, 160, 90, 0.2) 70%, rgba(191, 160, 90, 0))
//     background linear-gradient(to right, rgba(191, 160, 90, 0.2) 70%, rgba(191, 160, 90, 0))

.token
    &.punctuation
        color #7e9ab3;
    &.namespace
        opacity .7;
    &.deleted
        text-decoration line-through;
    &.inserted
        border-bottom 1px dotted #fff3eb;
        text-decoration none;
    &.italic
        font-style italic;
    &.important
        color #a48774;
    &.entity
        cursor help;


.home .hero h1
    font-size 6rem !important
    font-weight 800 