pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #EF425A;
  border-radius: 0px;
  & > code
    color: #808080;
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #EF425A !important;
      padding: 3px 5px;
      border-radius: 3px;
      font-size: 1.02em;
      color #fff;
      font-weight: bold;
    em
      color #808080;
      font-weight light;
    strong 
      color #fff;
      

// body, .sidebar, .navbar, .navbar .links {
//   background-color: #1d1d1d !important;
// }
// .search-box input {
//   background: #1d1d1d !important;
// }

