$accentColor = #EF425A
$textColor = #9db2c8
$codeBgColor = #131620
$blockBgColor = #131620
$borderColor = #1b1b1b
$BgColor = #0e1117
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961


